div(class='container' id='about')
  :markdown-it(linkify langPrefix='highlight-')
    ## About Me

    I work as a Web Developer in Wales, where I make bespoke web apps for clients using JavaScript, PHP, React and Redux.

    In my own time I like to take photographs, appreciate nature, play guitar, bake bread, work on my own projects and make video games with my brother.

    We release games under the name [BumbleBirds](http://bumblebirds.com). Our games have been played millions of times all over the world, which is very exciting.
