div(class='container' id='about')
  :markdown-it(linkify langPrefix='highlight-')
    ## About Me

    At work I make Web Sites/Apps, usually in PHP and JavaScript.

    When I can find some free time, I make Video Games with my brother under the name
    BumbleBirds.

    I live out in the countryside in beautiful Mid Wales.
