div(class='container' id='about')
  h2 About Me

  p I mainly consider myself a programmer these days, though in the past my focus was more on art, animation and design. 

  p I have been programming fairly seriously since about 2005. Thought I went to University to study Web Development I am largely self taught and had already been practicing both Web and Game development since before I went there. 

  p I have spent around five of the last years working for a local web development company in Wales where, among the occasional simple project, I have been tasked with creating fairly complex, bespoke web applications for clients using JavaScript, PHP, React and Redux.

  p Before that I did some freelance web development and design work creating sites for framing stores, takeout places, etc.

  p During all this, in my own time, I have been working on and releasing games with my brother under the name #[a(href='http://bumblebirds.com') BumbleBirds]. Our games have been played millions of times all over the world, and we're just getting started.