div(class='container' id='about')
  h2 About Me
  p
    | Hi there, I&rsquo;m Erik - a guy who makes Video Games and Websites in Mid Wales in the UK.
  p
    | At age sixteen I got my hands on Flash and taught myself how to Animate with it. I had a lot of fun doing this and eventually got to be pretty good at it. I added some play / pause / rewind / etc buttons to my movies, and with some help from my tallented friend 
    a(href='http://volcanicpenguin.st') Lee Comstock
    |  I slowly built up my knowledge of ActionScript until I felt confident that I could make a Video Game with it. The first attempts were failiures, but each time I got better at it.
  p
    | My brother 
    a(href='http://zekewatson.tumblr.com/') Zeke Watson 
    |  was also learning Flash at around the same time, and while I focussed on learning to write code with it, he got better and better at drawing and animating. When I got back from studying Web Development at University we worked together under the name 
    a(href='http://bumblebirds.com') BumbleBirds 
    |  to make Video Games. We did it, and they were played by Millions of people all over the world. A dream come true.
  p
    | Since then I have been making Websites professionally, which has exposed me to a ton of new technologies and skills. So many tools.
  p I am very lucky to get to do this out in the Countryside.
