div(class='container' id='about')
  :markdown-it(linkify langPrefix='highlight-')
    ## About Me

    Hi there, I’m Erik - a guy who makes Video Games and Websites in Mid Wales in
    the UK.

    At age sixteen I got my hands on Flash and taught myself how to Animate with
    it. I had a lot of fun doing this and eventually got to be pretty good at it.
    I added some play / pause / rewind / etc buttons to my movies, and with some
    help from my friend [Lee Comstock](http://volcanicpenguin.st) I slowly built
    up my knowledge of ActionScript until I felt confident that I could make a
    Video Game with it. The first attempts were failiures, but each time I got
    better at it.

    My brother [Zeke Watson](http://zekewatson.tumblr.com/) was also learning
    Flash at around the same time, and while I focussed on learning to write
    code with it, he got better and better at drawing and animating.
    When I got back from studying Web Development at University we worked
    together under the name [BumbleBirds](http://bumblebirds.com) to make
    Video Games. We did it! A dream come true.

    Since then I have been making Websites professionally, which has exposed me
    to a ton of new technologies and skills. So many tools.

    I am very lucky to get to do this out in the Countryside.
