div(class='container' id='contact')
  h2 Contact
  ul
    li 
      a(href="mailto:erik@erikwatson.me") Email Me
    
    li  
      a(href="http://www.twitter.com/championchap") Tweet Me

    li 
      a(href="http://linkedin.com/in/championchap") LinkedIn too I guess
