div(class='container' id='contact')
  :markdown-it(linkify langPrefix='highlight-')
    ## Contact
      + [Email Me](mailto:erik@erikwatson.me)
      + [Tweet Me](http://www.twitter.com/championchap)
