div(class='container' id='current-projects')
  h2 Current Projects

  p Right now i'm working on #[a(href='https://github.com/erikwatson/Bramble') Bramble], a javascript game creation library for my own small games and a generic #[a(href='https://github.com/erikwatson/Level-Editor') level editor] to go with it.