div(class='container' id='experience')
  :markdown-it(linkify langPrefix='highlight-')
    ## Experience

    Languages and technologies and stuff that I have some experience with.

      + Game Development
      + Web Development
      + Mobile Development
      + PHP
      + JavaScript
      + ActionScript
      + Haxe
      + Ruby
      + HTML5
      + SASS
      + CSS
      + React
      + JQuery
      + Laravel
      + Express
      + MySQL
      + PostgreSQL
      + OpenFl
      + Flash
      + Linux
      + NodeJS
      + Bolt CMS
      + Git
      + Gulp
      + Webpack
