div(class='container' id='experience')
  h2 Experience
  p Languages and technologies and stuff that I have some experience with.
  ul
    li Game Development
    li Web Development
    li Mobile Development
    li PHP
    li JavaScript
    li ActionScript
    li Haxe
    li Ruby
    li HTML5
    li SASS
    li CSS
    li React
    li JQuery
    li Laravel
    li Express
    li MySQL
    li PostgreSQL
    li OpenFl
    li Flash
    li Linux
    li NodeJS
    li Bolt CMS
    li Git
    li Gulp
    li Webpack
