div(class='container' id='experience')
  h2 Experience

  ul
    li Game Development
    li Web Development
    li Mobile Development
    li JavaScript
    li NodeJS
    li React
    li Redux
    li Express
    li Ember
    li Gulp
    li Webpack
    li JQuery
    li PHP
    li Laravel
    li Bolt CMS
    li HTML5
    li SASS
    li CSS
    li ActionScript
    li Flash
    li Haxe
    li OpenFl
    li Ruby
    li Linux
    li Windows
    li Mac OS
    li Git
    li MySQL
    li PostgreSQL
    li Amazon AWS
