div(class='container' id='links')
  :markdown-it(linkify langPrefix='highlight-')
    ## Links

      + [My Games](http://bumblebirds.com)
      + [My Code](https://github.com/championchap?utf8=%E2%9C%93&tab=repositories&q=&type=source)