div(class='container' id='links')
  h2 Links
  ul
    li #[a(href='http://bumblebirds.com') My Games]
    li #[a(href='https://github.com/championchap?utf8=%E2%9C%93&tab=repositories&q=&type=source') My Code]
