div(class='container' id='personal-projects')
  h2 Personal Projects 

  p These are just a few of my more interesting personal projects. 

  h3 Games

  ul 
    li #[a(href='https://bumblebirds.itch.io/sky-panda') Sky Panda] - 30 levels of pure platforming Panda madness. 
    li #[a(href='https://bumblebirds.itch.io/velocity-wings') Velocity Wings] - An auto-runner inspired by Sonic and Flappy Bird. 
    li #[a(href='https://bumblebirds.itch.io/runnerist') RUNNERIST] - A minimalist, topsy-turvy auto-runner. 

  h3 Code 

  ul 
    li This Website - #[a(href='https://github.com/championchap/ErikWatson.me') Source]
    li A template for new frontend JS Projects - #[a(href='https://github.com/championchap/Frontend-Template') Source]
    li Bramble, A work in progress javascript game library - #[a(href='https://github.com/championchap/Bramble') Source]
    li Editor, A level editor for Bramble Games - #[a(href='https://github.com/championchap/Level-Editor') Source]
    li Spider, A Web Framework built in Haxe - #[a(href='https://github.com/championchap/Spider') Source]
    li snowfall.js - #[a(href='https://github.com/championchap/SnowFall.js') Source] | #[a(href='/snowfall') Demo]
    li Brainfuck interpreter in JavaScript - #[a(href='https://github.com/championchap/BrainFuck.js') Source]
    li A range function - #[a(href='https://github.com/championchap/range') Source]
    li Apply multiple filters to a dataset - #[a(href='https://github.com/championchap/applyFilters.js') Source]