div(class='container' id='personal-projects')
  h2 Personal Projects

  p These are just a few of my more interesting personal projects.

  h3 Games

  ul
    li #[a(href='https://bumblebirds.itch.io/sky-panda') Sky Panda] - 30 levels of pure platforming Panda madness.
    li #[a(href='https://bumblebirds.itch.io/velocity-wings') Velocity Wings] - An auto-runner inspired by Sonic and Flappy Bird.
    li #[a(href='https://bumblebirds.itch.io/runnerist') RUNNERIST] - A minimalist, topsy-turvy auto-runner.

  h3 Code

  ul
    li A Level Editor for Bramble Games - #[a(href='https://github.com/erikwatson/Level-Editor') Source] | #[a(href='/editor') WIP Demo]
    li Bramble, A work in progress javascript game creation library - #[a(href='https://github.com/erikwatson/Bramble') Source]
    li snowfall.js - #[a(href='https://github.com/erikwatson/SnowFall.js') Source] | #[a(href='/snowfall') Demo]
    li This Website - #[a(href='https://github.com/erikwatson/ErikWatson.me') Source]
    li A template for new frontend JS Projects - #[a(href='https://github.com/erikwatson/Frontend-Template') Source]
    li Spider, A Web Framework built in Haxe - #[a(href='https://github.com/erikwatson/Spider') Source]
    li Brainfuck interpreter in JavaScript - #[a(href='https://github.com/erikwatson/BrainFuck.js') Source]
    li A range function - #[a(href='https://github.com/erikwatson/range') Source]
    li Apply multiple filters to a dataset - #[a(href='https://github.com/erikwatson/applyFilters.js') Source]
