div(class='container' id='professional-projects')
  h2 Professional Projects 

  p Through my career I have been tasked with making bespoke web applications for clients. A few of the more interesting ones are listed below.

  ul
    li A real time, AWS hosted, vehicle tracking telematics application.  
    li A React based search engine for a holliday cottage renting website with Google Maps integration. Very similar to AirBnB's search page.
    li An Application that configures and allows the purchase of a handrail for a staircase, complete with a to-scale drawing that is updated in real time. 
    li A web based image editing application that allows users to create and customise canvas prints of their photographs.
