div(class='container' id='projects')
  :markdown-it(linkify langPrefix='highlight-')
    ## Projects

    + This website - [Source](https://github.com/championchap/ErikWatson.me)
    + A template for new frontend JS Projects - [Source](https://github.com/championchap/Frontend-Template)
    + Haxe Web Framework, targeting PHP - [Source](https://github.com/championchap/Spider)
    + snowfall.js - [Source](https://github.com/championchap/SnowFall.js) | [Demo](/snowfall)
    + Brainfuck interpreter in JavaScript - [Source](https://github.com/championchap/BrainFuck.js)
    + A slow range function - [Source](https://github.com/championchap/range)
