div(class='container' id='projects')
  :markdown-it(linkify langPrefix='highlight-')
    ## Projects

    These are my own projects, and not the projects of my employer.

    ![Sky Panda](/images/sky-panda.jpg)
