div(class='container' id='games')
  :markdown-it(linkify langPrefix='highlight-')
    ## Games
    + [Sky Panda](http://www.bumblebirds.com/playgame.php?q=4)
    + [Velocity Wings](http://www.bumblebirds.com/playgame.php?q=5)
    + [RUNNERIST](http://www.bumblebirds.com/playgame.php?q=3)


div(class='container' id='code')
  :markdown-it(linkify langPrefix='highlight-')
    ## Code

    + This website - [Source](https://github.com/championchap/ErikWatson.me)
    + A template for new frontend JS Projects - [Source](https://github.com/championchap/Frontend-Template)
    + Haxe Web Framework, targeting PHP - [Source](https://github.com/championchap/Spider)
    + snowfall.js - [Source](https://github.com/championchap/SnowFall.js) | [Demo](/snowfall)
    + Brainfuck interpreter in JavaScript - [Source](https://github.com/championchap/BrainFuck.js)
    + A slow range function - [Source](https://github.com/championchap/range)
    + Apply an array of filters to an array of something - [Source](https://github.com/championchap/applyFilters.js)
