div(class='container' id='experience')
  h2 Skills

  p The following is not necessarily a comprehensive list of my skills, though I think it covers most of the main points. 

  h3 Programming Languages

  ul 
    li JavaScript
    li PHP
    li ActionScript
    li Haxe
    li HTML
    li CSS/SASS

  h3 Frameworks and Libraries 

  ul 
    li Laravel
    li React
    li Redux
    li Express
    li Ember 
    li JQuery
    li Wordpress
    li Bolt 
    li OpenFl
    li EaselJS 

  h3 Tools

  ul 
    li Amazon AWS
    li Docker
    li Apache
    li Nginx
    li MySQL
    li PostgreSQL
    li Mongo
    li Git
    li Gitlab CI
    li Vim 
    li Webpack
    li Gulp

