extends layouts/default

block content
  div(id='wrapper')
    include partials/header

    div(class='row')
      div(class='col-left-50')
        include partials/about
        include partials/hire

      div(class='col-right-50')
        include partials/projects
        include partials/experience

    div(id='row')
      div(class='col-left-50')
        include partials/links

      div(class='col-right-50')
        include partials/contact

  // All of the JavaScripts get added at the end
  script(src='/javascripts/app.js')
