extends layouts/default

block content
  div(id='wrapper')
    include partials/header
    include partials/hire
    include partials/current-projects

    div(class='row')
      div(class='col-left-50')
        include partials/about

      div(class='col-right-50')
        include partials/skills
        include partials/professional-projects
        include partials/personal-projects

    div(id='row')
      div(class='col-left-50')
        include partials/links

      div(class='col-right-50')
        include partials/contact

  // All of the JavaScripts get added at the end
  script(src='/javascripts/app.js')
