extends layouts/snowfall

block content
  #wrapper
    #config
      #title
        h1 Snowfall.js
        span
          | An
          a(href='http://erikwatson.me') Erik Watson
          |  project.
      .config-section
        h2 Background
        .row.bottom
          label(for='bg') Colour
          input#bg(type='color' name='bg-colour')
      hr
      .config-section
        h2 Snowflakes
        .row
          label(for='primary') Primary
          input#primary(type='color' name='primary-colour' value='#8d90b7')
        .row
          label(for='secondary') Secondary
          input#secondary(type='color' name='secondary-color' value='#ffffff')
        .row.bottom
          label(for='density') Density
          input#density(type='range' name='density' min='0' max='1000' value='250')
          span#density-count 0
      hr
      .config-section
        h2 Waves
        .row
          label(for='amplitude') Amplitude
          input#amplitude(type='range' min='0' value='1' max='10' step='0.01')
          span#amplitude-count 1
        .row.bottom
          label(for='frequency') Frequency
          input#frequency(type='range' min='0' value='0.03' max='0.1' step='0.001')
          span#frequency-count 0.03
      hr
      .config-section
        h2 Gravity
        .row
          label(for='gravity-angle') Angle
          input#gravity-angle(type='range' min='0' value='90' max='360' step='1')
          span#gravity-angle-count 90
          span &deg;
        .row.bottom
          label(for='gravity-strength') Strength
          input#gravity-strength(type='range' min='-5' value='0.7' max='5' step='0.1')
          span#gravity-strength-count 0.7
      hr
      .config-section
        h2 Wind
        .row
          label(for='wind-angle') Angle
          input#wind-angle(type='range' min='0' value='0' max='360' step='1')
          span#wind-angle-count 0
          span &deg;
        .row.bottom
          label(for='wind-strength') Strength
          input#wind-strength(type='range' min='-5' value='0.5' max='5' step='0.1')
          span#wind-strength-count 0.5
      hr
      .config-section
        h2 Your Config
        .row.bottom
          pre
            code(class="js" id="output")

      #links.config-section
        a(href='https://github.com/championchap/snowfall.js')
          i.fab.fa-github
        a(href='https://www.npmjs.com/package/@erikwatson/snowfall')
          i.fab.fa-npm
    #snow-container
  script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js')
  script(type='text/javascript' src='/javascripts/snowfall.js')
  script(src="/javascripts/snowfall-page.js")
